body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}
.modalBtn{
  padding: 10px 2em;
  margin-right: 3rem;
  color: #fff;
  background: rgb(221, 44, 44);
  border: 0;
  float: right;
  text-decoration: none;
}
.modalBtn:hover{
  background: #696868;
}
.modal-wrapper{
    display:none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    transition: .5s ease-in;
}
.modal-wrapper.active{
  display: block;
}
.modal-content{
  background: #f4f4f4;
  margin: 15% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
  animation-name: modalopen;
  animation-duration: .5s;
}
.modal-header{
  background: #4a3ef7;
  color: #fff;
  padding: 20px;
}
.modal-header h2{
  margin: 0;
}
.closeBtn{
 float: right;
 font-size: 30px;
}
.closeBtn:hover,
.closeBtn:focus{
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

@keyframes modalopen{
    from{
        opacity: 0;
        /*transform: translateY(-100%);*/
        transform: scale(0);
    }
    to{
      opacity: 1;
      transform: scale(1);
     /* transform: translateY(0);*/
      transition: opacity 300ms, transform 300ms;
    }
}


/* login form style */
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4a3ef7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal-footer{
    padding: 10px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.cancelbtn, .loginbtn {
  float: left;
  width: 50%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

